# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.d

*.lst
/Debug/

ProtocolGuy\.elf\.launch

mx\.scratch

*.bak

\.settings/org\.eclipse\.cdt\.managedbuilder\.core\.prefs

\.settings/com\.atollic\.truestudio\.debug\.hardware_device\.prefs

\.code_review_properties

*.ftl

build/ProtocolGuy\.bin

build/ProtocolGuy\.map

*.tmp

*.ftl_save
